<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBIcuWz4LLM7ufvRxiBUJvAMNp8_lOZhTA</string>
	<key>GCM_SENDER_ID</key>
	<string>124213231220</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>link.speel.geminit</string>
	<key>PROJECT_ID</key>
	<string>to-do-7m32qp</string>
	<key>STORAGE_BUCKET</key>
	<string>to-do-7m32qp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:124213231220:ios:b8341ddb3535da51d35b21</string>
</dict>
</plist>